@import './_layout.scss';
@import './_hero.scss';
@import './_metrics.scss';
@import './_charts.scss';
@import './_quick-actions.scss';
@import './_recent-transactions.scss';
@import './_animations.scss';
@import './_responsive.scss';
@import './_dark.scss';

/* shared variables */
$dark-surface: #000000;
$dark-text: #ffffff;

